# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Secrets
.env
*.env
application-prod.properties
application-local.properties

# IDEs
.idea/
*.iml
.vscode/
*.swp

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
